# Visual Studio Code

BLA.UserFlow.API/.vscode/
BLA.UserFlow.Application/.vscode/
BLA.UserFlow.Core/.vscode/
BLA.UserFlow.Infrastructure/.vscode/
BLA.UserFlow.Tests/.vscode/
.vscode/

# Rider
BLA.UserFlow.API/.idea/
BLA.UserFlow.Application/.idea/
BLA.UserFlow.Core/.idea/
BLA.UserFlow.Infrastructure/.idea/
BLA.UserFlow.Tests/.idea/
.idea/

# Visual Studio
BLA.UserFlow.API/.vs/
BLA.UserFlow.Application/.vs/
BLA.UserFlow.Core/.vs/
BLA.UserFlow.Infrastructure/.vs/
BLA.UserFlow.Tests/.vs/
.vs/

# Build results
app/


[Db]ebug/
[Db]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
BLA.UserFlow.API/build/
BLA.UserFlow.Application/build/
BLA.UserFlow.Core/build/
BLA.UserFlow.Infrastructure/build/

BLA.UserFlow.API/bld/
BLA.UserFlow.Application/bld/
BLA.UserFlow.Core/bld/
BLA.UserFlow.Infrastructure/bld/
BLA.UserFlow.Tests/bld/

BLA.UserFlow.API/[Bb]in/
BLA.UserFlow.Application/[Bb]in/
BLA.UserFlow.Core/[Bb]in/
BLA.UserFlow.Infrastructure/[Bb]in/
BLA.UserFlow.Tests/[Bb]in/

BLA.UserFlow.API/[Oo]bj/
BLA.UserFlow.Application/[Oo]bj/
BLA.UserFlow.Core/[Oo]bj/
BLA.UserFlow.Infrastructure/[Oo]bj/
BLA.UserFlow.Tests/[Oo]bj/

BLA.UserFlow.API/.DS_Store/
BLA.UserFlow.Application/.DS_Store/
BLA.UserFlow.Core/.DS_Store/
BLA.UserFlow.Infrastructure/.DS_Store/
BLA.UserFlow.Tests/.DS_Store/

[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
